<header class="navbar navbar-default" 
        role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" 
                class="navbar-toggle" 
                data-toggle="collapse" 
                data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" 
           ui-sref="main" 
           ng-bind="::'application.name' | translate">
        </a>
      </div>
      <div class="navbar-collapse collapse" >
        <ul class="nav navbar-nav custom">
          <li ng-repeat="menu in vm.menus"
              ng-class="{ active: menu.active }">
              <a ui-sref="{{menu.link}}" ng-bind="::menu.name | translate"></a>
          </li>
        </ul>
      </div>
    </div>
</header>
